@{
    ViewBag.Title = "Password Reset";
}

<div id="resetPassword">
Forgot your password? Just enter your email here and we'll send you a new one right on over.
<label for="email">Email address:</label><input type="text" id="email" />
<a href="#" id="sendResetEmail">Send email</a>
</div>