<div id="createAccount">
    <p class="error">@ViewBag.CreateAccountError</p>
    <label for="usernameHeader">Username:</label><input type="text" id="usernameHeader" />
    <br />
    <label for="emailHeader">Email:</label><input type="text" id="emailHeader" />
    <br />
    <label for="passwordHeader">Password:</label><input type="password" id="passwordHeader" />
    <br />
    <label for="stayLoggedIn">Remember me?</label><input type="checkbox" id="stayLoggedIn" />
    <a href="#" id="createAccountLink">Create Account</a>
</div>