<div id="login">
    <p id="loginError">@ViewBag.LoginError</p>
    <label for="usernameHeader">Username:</label><input type="text" id="usernameHeader" />
    <br />
    <label for="passwordHeader">Password:</label><input type="password" id="passwordHeader" />
    <br />
    <label for="stayLoggedIn">Remember me?</label><input type="checkbox" id="stayLoggedIn"/>
    <a href="#" id="loginLink">Log in</a>
    <br />
    <a href="#" id="createAccountViewLink">Create account</a>  <a href="/user/resetpassword">Forgot password?</a>
</div>