<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="DatabaseInitializerForType SSBPD.Models.SSBPDContext, SSBPD"
            value="Disabled" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="Environment" value="Test" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>

    <connectionStrings>
        <add name="ApplicationServices"
             connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb-Prod.mdf;User Instance=true"
             providerName="System.Data.SqlClient"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="SSBPDContext"
             connectionString="Data Source=|DataDirectory|SSBPD-Prod.sdf"
             providerName="System.Data.SqlServerCe.4.0"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>