<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="Environment" value="Prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <connectionStrings>
        <add name="SSBPDContext"
     connectionString="Data Source=|DataDirectory|SSBPD-Prod.sdf"
     providerName="System.Data.SqlServerCe.4.0"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </connectionStrings>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" xdt:Locator="Match(deliveryMethod)" xdt:Transform="Replace">
                <network host="XXXX" port="25" userName="XXXX" password="XXXX" defaultCredentials="false"
                         enableSsl="true"/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
