@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        Sorry, something's gone very wrong... I'm trying to fix it, I promise!
    </div>
</body>
</html>
