@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
@{
    string hello = "hi";
}
    <title>Exception</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
