@{
    ViewBag.Title = "This one's my fault.";
}
<body>
    <div>
        <p>Sorry, something went very wrong. This site is still in its infancy don't you know!</p>
        <p>Please email me at ancorwin+ssbpd@gmail.com with any pertinent details if you have the time. Thank you!</p>
    </div>
</body>
</html>
